<section id="settings">
  <div class="container p5">
    <div class="h4 display-4">my Account Settings</div>
    <hr>
    <app-message></app-message>
    <div *ngIf='!currentSettings' class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="currentSettings" class="card bg-light">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="" class="form-control-label">name</label>
            <input type="text" class="form-control" [(ngModel)]="currentSettings.name">
          </div>
          <div class="form-group">
            <label for="" class="form-control-label">Email</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="" class="form-control-label">
                <input type="checkbox" name="isSeller" class="form-check-input" [(ngModel)]="currentSettings.isSeller"> Is Seller
            </label>
          </div>
          <div class="form-group">
            <label for="" class="form-control-label">New Password</label>
            <input type="text" name="newPwd" class="form-control" [(ngModel)]="currentSettings.newPwd">
          </div>
          <div class="form-group">
            <label for="" class="form-control-label">Confirm Password</label>
            <input type="text" name="confirm Password" class="form-control" [(ngModel)]="currentSettings.pwdConfirm">
          </div>
          <button type="button" class="btn btn-danger" (click)="update()" [disabled]="btnDisabled">Update</button>
        </form>
      </div>
    </div>
  </div>

</section>