<section id="home">
  <div class="container-fluid d-none d-md-block">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img class="item" src="assets/img/1.jpg" alt="1">
      </ng-template>

      <ng-template ngbSlide>
        <img class="item" src="assets/img/2.jpg" alt="2">
      </ng-template>

      <ng-template ngbSlide>
        <img class="item" src="assets/img/3.jpg" alt="3">
      </ng-template>

      <ng-template ngbSlide>
        <img class="item" src="assets/img/4.jpg" alt="4">
      </ng-template>

      <ng-template ngbSlide>
        <img class="item" src="assets/img/5.jpg" alt="5">
      </ng-template>
    </ngb-carousel>
  </div>
</section>